* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f5f3f3;
    height: 4000px;
}
:root {
    --red-color:#EC1F55;
    --text-color: #333333;
    --white-color: #fff;
}
.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.dashboard {
    padding: 16px 16px 14px;
    max-width: 480px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.5);
}
header {
    margin-bottom: 10px;
    text-align: center;
}
h4 {
    font-size: 12px;
    color: var(--red-color);
}
h2 {
    font-size: 20px;
    color: var(--text-color);

}
.cd {
    width: 200px;
    margin: 0 auto;
}
.cd-thumb {
    background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg');
    padding-top:100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.control {
    display: flex;
    justify-content: space-around;
    padding: 16px 0 8px;
}
.btn  {
    font-size: 18px;
    padding: 18px;
    color: #666666;
}
.btn-toggle-play {
    background-color: var(--red-color);
    border-radius: 50%;
    font-size: 24px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.icon-pause{
    display: none;
}
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--red-color);
    cursor: pointer;
}
/* Playlist */
.playlist{
    margin-top: 410px;
    padding: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.3);
}
.song{
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.3);
    width: 100%;
    background-color: var(--white-color);
    padding: 8px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thumb{
    /* background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg'); */
    width: 44px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 8px;
}
.body{
    flex: 1;
    padding: 0 16px;
}
.body-title{
    font-size: 18px;
    color: #333;
}
.body-singer{
    font-size:12px;
    color: #666;
}
.body-option{
    padding: 16px 8px;
    color: #999999;
    font-size: 18px;
}